<h1>Details of Order</h1>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @order.name %></dd>
  <dt>Date of Order</dt>
  <dd><%= @order.date %></dd>

  <%= link_to 'Edit', edit_order_path(@order), :class => 'btn btn-primary' %>
  <%= link_to 'Back', orders_path, :class => 'btn btn-outline-primary' %>
</dl>
